.order {
  background-color: $main;

  &__wrapper {
    padding: 40px 15px 130px;
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;

    font-size: 56px;
    line-height: 68px;
    font-weight: 700;

    @include tablet {
      font-size: 44px;
    }

    @include mobile {
      font-size: 32px;
    }
  }
}